-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: adm_rare
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adm_rare`
--

DROP TABLE IF EXISTS `adm_rare`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `adm_rare` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `data_nascimento` date DEFAULT NULL,
  `senha` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adm_rare`
--

LOCK TABLES `adm_rare` WRITE;
/*!40000 ALTER TABLE `adm_rare` DISABLE KEYS */;
INSERT INTO `adm_rare` VALUES (1,'lucas','lucaschacon79@gmail.com',NULL,'$2y$10$j2oI1B725JUxFHerItpXtON/M.z4iU24QFXHQyWeQFiX8RERv.h5S','2026-03-22 00:29:45','2026-03-22 00:29:56'),(2,'jo├úo','joaocortez7@outlook.com','1998-09-09','$2y$10$/PUgtx0kSVy9RWmyTlKXweXybHAd/rJE7pFM9WsZ5l34Q28lLiVOG','2026-03-24 12:11:16','2026-03-24 12:11:16');
/*!40000 ALTER TABLE `adm_rare` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_logs`
--

DROP TABLE IF EXISTS `admin_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) NOT NULL,
  `admin_nome` varchar(255) NOT NULL,
  `acao` text NOT NULL,
  `data_hora` timestamp NOT NULL DEFAULT current_timestamp(),
  `ip_address` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_admin_data` (`admin_id`,`data_hora`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_logs`
--

LOCK TABLES `admin_logs` WRITE;
/*!40000 ALTER TABLE `admin_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_sessions`
--

DROP TABLE IF EXISTS `admin_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `session_id` varchar(255) NOT NULL,
  `last_activity` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_session` (`user_id`,`session_id`),
  KEY `idx_user_activity` (`user_id`,`last_activity`)
) ENGINE=InnoDB AUTO_INCREMENT=311 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_sessions`
--

LOCK TABLES `admin_sessions` WRITE;
/*!40000 ALTER TABLE `admin_sessions` DISABLE KEYS */;
INSERT INTO `admin_sessions` VALUES (293,1,'ddjt4o2easgrl6o2u8ugr7rope','2026-03-28 00:49:20','::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 OPR/128.0.0.0 (Edition std-2)');
/*!40000 ALTER TABLE `admin_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `descricao` text DEFAULT NULL,
  `menu_group` varchar(30) NOT NULL DEFAULT 'outros',
  `parent_id` int(11) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nome` (`nome`),
  KEY `idx_menu_group` (`menu_group`),
  KEY `idx_parent_id` (`parent_id`),
  CONSTRAINT `fk_categoria_parent` FOREIGN KEY (`parent_id`) REFERENCES `categorias` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (6,'Times',NULL,'clubes',NULL,1,'2026-03-23 00:12:00','2026-03-23 00:12:00'),(7,'Sele├º├Áes',NULL,'outros',NULL,1,'2026-03-24 17:42:45','2026-03-24 17:42:45');
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente_enderecos`
--

DROP TABLE IF EXISTS `cliente_enderecos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente_enderecos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL,
  `tipo` varchar(50) NOT NULL DEFAULT 'Casa',
  `rua` varchar(255) NOT NULL,
  `numero` varchar(20) NOT NULL,
  `complemento` varchar(255) DEFAULT NULL,
  `bairro` varchar(100) NOT NULL,
  `cidade` varchar(100) NOT NULL,
  `uf` varchar(2) NOT NULL,
  `cep` varchar(10) NOT NULL,
  `principal` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cliente_enderecos_cliente_id` (`cliente_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente_enderecos`
--

LOCK TABLES `cliente_enderecos` WRITE;
/*!40000 ALTER TABLE `cliente_enderecos` DISABLE KEYS */;
INSERT INTO `cliente_enderecos` VALUES (1,4,'Casa','Rua Conde de Agrolongo','1146','apt 102','Penha','Rio de Janeiro','RJ','21020-190',1,'2026-03-22 18:20:22','2026-03-22 18:24:00');
/*!40000 ALTER TABLE `cliente_enderecos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha` varchar(255) DEFAULT NULL,
  `cpf` varchar(14) DEFAULT NULL,
  `cpf_cnpj` varchar(20) DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `endereco` text DEFAULT NULL,
  `rua` varchar(255) DEFAULT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `complemento` varchar(255) DEFAULT NULL,
  `bairro` varchar(100) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `estado` varchar(2) DEFAULT NULL,
  `uf` varchar(2) DEFAULT NULL,
  `cep` varchar(10) DEFAULT NULL,
  `notas_internas` text DEFAULT NULL,
  `status` varchar(20) DEFAULT 'Ativo',
  `data_cadastro` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_ultima_atualizacao` timestamp NULL DEFAULT NULL,
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `cpf` (`cpf`),
  KEY `idx_cliente_status` (`status`),
  KEY `idx_cliente_cpf_cnpj` (`cpf_cnpj`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_footer`
--

DROP TABLE IF EXISTS `cms_footer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_footer` (
  `id` int(11) NOT NULL DEFAULT 1,
  `marca_titulo` varchar(100) DEFAULT 'D&Z',
  `marca_subtitulo` varchar(100) DEFAULT 'Beauty & Style',
  `marca_descricao` text DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `instagram` varchar(255) DEFAULT NULL,
  `tiktok` varchar(255) DEFAULT NULL,
  `facebook` varchar(255) DEFAULT NULL,
  `copyright_texto` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_footer`
--

LOCK TABLES `cms_footer` WRITE;
/*!40000 ALTER TABLE `cms_footer` DISABLE KEYS */;
INSERT INTO `cms_footer` VALUES (1,'RARE7','','','','','','#','#','#','┬® 2026 Rare7 ┬® Todos os direitos reservados','2026-03-22 02:04:35');
/*!40000 ALTER TABLE `cms_footer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_footer_links`
--

DROP TABLE IF EXISTS `cms_footer_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_footer_links` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coluna` enum('produtos','atendimento') NOT NULL,
  `texto` varchar(100) NOT NULL,
  `link` varchar(255) NOT NULL,
  `ordem` int(11) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_footer_coluna` (`coluna`),
  KEY `idx_footer_ativo` (`ativo`),
  KEY `idx_footer_ordem` (`ordem`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_footer_links`
--

LOCK TABLES `cms_footer_links` WRITE;
/*!40000 ALTER TABLE `cms_footer_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `cms_footer_links` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_home_beneficios`
--

DROP TABLE IF EXISTS `cms_home_beneficios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_home_beneficios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) NOT NULL,
  `subtitulo` varchar(255) NOT NULL,
  `icone` varchar(50) NOT NULL,
  `cor` varchar(7) DEFAULT '#10b981',
  `ordem` int(11) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_benef_ativo` (`ativo`),
  KEY `idx_benef_ordem` (`ordem`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_home_beneficios`
--

LOCK TABLES `cms_home_beneficios` WRITE;
/*!40000 ALTER TABLE `cms_home_beneficios` DISABLE KEYS */;
INSERT INTO `cms_home_beneficios` VALUES (1,'Entrega Gr├ítis','Acima de R$500,00','local_shipping','#e6b400',1,1,'2026-03-22 02:22:53','2026-03-22 02:25:29'),(2,'Qualidade Premium','Produtos originais','verified','#c6a75e',2,1,'2026-03-22 02:24:55','2026-03-22 02:25:29'),(3,'Troca F├ícil','At├® 7 Dias','sync','#c6a75e',3,1,'2026-03-22 02:24:55','2026-03-22 02:25:29'),(4,'Suporte 24h','Sempre dispon├¡vel','support_agent','#c6a75e',4,1,'2026-03-22 02:24:55','2026-03-22 02:25:29');
/*!40000 ALTER TABLE `cms_home_beneficios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_home_clubs`
--

DROP TABLE IF EXISTS `cms_home_clubs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_home_clubs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `sigla` varchar(20) NOT NULL,
  `imagem_path` varchar(255) DEFAULT NULL,
  `ordem` int(11) NOT NULL DEFAULT 1,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cms_home_clubs_ordem_ativo` (`ativo`,`ordem`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_home_clubs`
--

LOCK TABLES `cms_home_clubs` WRITE;
/*!40000 ALTER TABLE `cms_home_clubs` DISABLE KEYS */;
/*!40000 ALTER TABLE `cms_home_clubs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_home_leagues`
--

DROP TABLE IF EXISTS `cms_home_leagues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_home_leagues` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `sigla` varchar(20) NOT NULL,
  `classe` varchar(60) NOT NULL DEFAULT '',
  `logo_path` varchar(255) DEFAULT NULL,
  `ordem` int(11) NOT NULL DEFAULT 1,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cms_home_leagues_ativo_ordem` (`ativo`,`ordem`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_home_leagues`
--

LOCK TABLES `cms_home_leagues` WRITE;
/*!40000 ALTER TABLE `cms_home_leagues` DISABLE KEYS */;
/*!40000 ALTER TABLE `cms_home_leagues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_home_metrics`
--

DROP TABLE IF EXISTS `cms_home_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_home_metrics` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `valor` varchar(20) NOT NULL,
  `label` varchar(60) NOT NULL,
  `tipo` enum('texto','numero','percentual') DEFAULT 'texto',
  `ordem` int(11) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_metrics_ativo` (`ativo`),
  KEY `idx_metrics_ordem` (`ordem`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_home_metrics`
--

LOCK TABLES `cms_home_metrics` WRITE;
/*!40000 ALTER TABLE `cms_home_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `cms_home_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_home_promotions`
--

DROP TABLE IF EXISTS `cms_home_promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_home_promotions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `subtitulo` varchar(255) DEFAULT NULL,
  `badge_text` varchar(50) DEFAULT NULL,
  `button_text` varchar(100) DEFAULT 'Aproveitar Oferta',
  `button_link` varchar(255) DEFAULT '#',
  `cupom_id` int(11) DEFAULT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date NOT NULL,
  `ordem` int(11) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_promo_ativo` (`ativo`),
  KEY `idx_promo_ordem` (`ordem`),
  KEY `idx_promo_datas` (`data_inicio`,`data_fim`),
  KEY `fk_cms_promo_cupom` (`cupom_id`),
  CONSTRAINT `fk_cms_promo_cupom` FOREIGN KEY (`cupom_id`) REFERENCES `cupons` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_home_promotions`
--

LOCK TABLES `cms_home_promotions` WRITE;
/*!40000 ALTER TABLE `cms_home_promotions` DISABLE KEYS */;
INSERT INTO `cms_home_promotions` VALUES (1,'Primeira Compra','','10% OFF','Aproveitar Oferta','#catalogo',1,'2026-03-21','2600-04-21',1,1,'2026-03-22 00:45:10','2026-03-22 00:48:52');
/*!40000 ALTER TABLE `cms_home_promotions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cms_testimonials`
--

DROP TABLE IF EXISTS `cms_testimonials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cms_testimonials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `cargo_empresa` varchar(120) DEFAULT NULL,
  `texto` varchar(600) NOT NULL,
  `rating` tinyint(4) NOT NULL DEFAULT 5,
  `avatar_path` varchar(255) DEFAULT NULL,
  `product_image_path` varchar(255) DEFAULT NULL,
  `ordem` int(11) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_testimonials_ativo` (`ativo`),
  KEY `idx_testimonials_ordem` (`ordem`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cms_testimonials`
--

LOCK TABLES `cms_testimonials` WRITE;
/*!40000 ALTER TABLE `cms_testimonials` DISABLE KEYS */;
INSERT INTO `cms_testimonials` VALUES (1,'Davi','Frequente','Camisas de qualidade',5,'uploads/testimonials/avatar_69c536eef2f355.76517528.png','uploads/testimonials/produto_69c537533b00d4.46375310.png',0,1,'2026-03-26 02:50:11','2026-03-26 13:40:35');
/*!40000 ALTER TABLE `cms_testimonials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes`
--

DROP TABLE IF EXISTS `configuracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chave` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `chave` (`chave`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes`
--

LOCK TABLES `configuracoes` WRITE;
/*!40000 ALTER TABLE `configuracoes` DISABLE KEYS */;
INSERT INTO `configuracoes` VALUES (1,'smtp_host','smtp.gmail.com','2026-03-22 00:28:00','2026-03-22 00:28:00'),(2,'smtp_porta','587','2026-03-22 00:28:00','2026-03-22 00:28:00'),(3,'smtp_email','','2026-03-22 00:28:00','2026-03-22 00:28:00'),(4,'smtp_senha','','2026-03-22 00:28:00','2026-03-22 00:28:00'),(5,'email_remetente','','2026-03-22 00:28:00','2026-03-22 00:28:00'),(6,'nome_remetente','D&Z Nails','2026-03-22 00:28:00','2026-03-22 00:28:00');
/*!40000 ALTER TABLE `configuracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes_email`
--

DROP TABLE IF EXISTS `configuracoes_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes_email` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `host_smtp` varchar(255) DEFAULT 'smtp.gmail.com',
  `porta_smtp` int(11) DEFAULT 465,
  `email_usuario` varchar(255) DEFAULT NULL,
  `senha_smtp` text DEFAULT NULL,
  `email_remetente` varchar(255) DEFAULT NULL,
  `nome_remetente` varchar(255) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_config_email_ativo` (`ativo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes_email`
--

LOCK TABLES `configuracoes_email` WRITE;
/*!40000 ALTER TABLE `configuracoes_email` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracoes_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes_gerais`
--

DROP TABLE IF EXISTS `configuracoes_gerais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes_gerais` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campo` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `campo` (`campo`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes_gerais`
--

LOCK TABLES `configuracoes_gerais` WRITE;
/*!40000 ALTER TABLE `configuracoes_gerais` DISABLE KEYS */;
INSERT INTO `configuracoes_gerais` VALUES (1,'smtp_host','smtp.gmail.com','2026-03-22 00:28:00'),(2,'smtp_porta','587','2026-03-22 00:28:00'),(3,'smtp_email','','2026-03-22 00:28:00'),(4,'smtp_senha','','2026-03-22 00:28:00'),(5,'email_remetente','','2026-03-22 00:28:00'),(6,'nome_remetente','D&Z Nails','2026-03-22 00:28:00');
/*!40000 ALTER TABLE `configuracoes_gerais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `controle_ciclo`
--

DROP TABLE IF EXISTS `controle_ciclo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `controle_ciclo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vendedoras_usadas` text DEFAULT NULL,
  `ciclo_completo` tinyint(1) DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `controle_ciclo`
--

LOCK TABLES `controle_ciclo` WRITE;
/*!40000 ALTER TABLE `controle_ciclo` DISABLE KEYS */;
INSERT INTO `controle_ciclo` VALUES (1,'',0,'2026-03-22 00:33:41');
/*!40000 ALTER TABLE `controle_ciclo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversas`
--

DROP TABLE IF EXISTS `conversas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conversas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_nome` varchar(255) DEFAULT NULL,
  `usuario_email` varchar(255) DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'ativa',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_conversa_status` (`status`),
  KEY `idx_conversa_created` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversas`
--

LOCK TABLES `conversas` WRITE;
/*!40000 ALTER TABLE `conversas` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupons`
--

DROP TABLE IF EXISTS `cupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cupons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `descricao` text DEFAULT NULL,
  `tipo` varchar(30) DEFAULT NULL,
  `tipo_desconto` enum('porcentagem','percentual','valor_fixo','frete_gratis','brinde','progressivo','fixo') NOT NULL DEFAULT 'valor_fixo',
  `valor` decimal(10,2) NOT NULL DEFAULT 0.00,
  `valor_minimo` decimal(10,2) DEFAULT 0.00,
  `data_inicio` date DEFAULT NULL,
  `data_fim` date DEFAULT NULL,
  `data_expiracao` date DEFAULT NULL,
  `usos_maximos` int(11) DEFAULT NULL,
  `usos_realizados` int(11) DEFAULT 0,
  `quantidade_usada` int(11) DEFAULT 0,
  `limite_uso_total` int(11) DEFAULT 100,
  `limite_uso_cpf` int(11) DEFAULT 1,
  `uso_diario` int(11) DEFAULT 50,
  `primeira_compra` tinyint(1) DEFAULT 0,
  `categoria_especifica` varchar(50) DEFAULT NULL,
  `brinde_item` varchar(100) DEFAULT NULL,
  `progressivo_config` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`progressivo_config`)),
  `economia_gerada` decimal(12,2) DEFAULT 0.00,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `idx_cupom_ativo` (`ativo`),
  KEY `idx_cupom_data_exp` (`data_expiracao`),
  KEY `idx_cupom_periodo` (`data_inicio`,`data_fim`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupons`
--

LOCK TABLES `cupons` WRITE;
/*!40000 ALTER TABLE `cupons` DISABLE KEYS */;
INSERT INTO `cupons` VALUES (1,'PRIMEIRACOMPRA',NULL,NULL,'porcentagem',10.00,0.00,NULL,NULL,'2600-11-11',NULL,0,0,2147483647,1,2147483647,1,NULL,NULL,NULL,0.00,1,'2026-03-22 00:44:31','2026-03-22 00:44:31');
/*!40000 ALTER TABLE `cupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freight_integrations`
--

DROP TABLE IF EXISTS `freight_integrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `freight_integrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `provider_name` varchar(100) NOT NULL,
  `provider_slug` varchar(50) NOT NULL,
  `active` tinyint(1) DEFAULT 0,
  `environment` enum('sandbox','production') DEFAULT 'sandbox',
  `api_key` text DEFAULT NULL,
  `token` text DEFAULT NULL,
  `secret_key` text DEFAULT NULL,
  `timeout` int(11) DEFAULT 30,
  `priority` int(11) DEFAULT 1,
  `webhook_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `provider_slug` (`provider_slug`),
  KEY `idx_freight_provider_active` (`provider_slug`,`active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freight_integrations`
--

LOCK TABLES `freight_integrations` WRITE;
/*!40000 ALTER TABLE `freight_integrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `freight_integrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freight_services`
--

DROP TABLE IF EXISTS `freight_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `freight_services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `integration_id` int(11) DEFAULT NULL,
  `service_code` varchar(50) NOT NULL,
  `service_name` varchar(100) NOT NULL,
  `company_name` varchar(100) DEFAULT NULL,
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_freight_service_active` (`active`),
  KEY `fk_freight_service_integration` (`integration_id`),
  CONSTRAINT `fk_freight_service_integration` FOREIGN KEY (`integration_id`) REFERENCES `freight_integrations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freight_services`
--

LOCK TABLES `freight_services` WRITE;
/*!40000 ALTER TABLE `freight_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `freight_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `freight_settings`
--

DROP TABLE IF EXISTS `freight_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `freight_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `origin_zipcode` varchar(9) NOT NULL DEFAULT '00000-000',
  `default_weight` decimal(8,3) DEFAULT 0.500,
  `default_height` decimal(8,2) DEFAULT 20.00,
  `default_width` decimal(8,2) DEFAULT 30.00,
  `default_length` decimal(8,2) DEFAULT 40.00,
  `default_product_value` decimal(10,2) DEFAULT 0.00,
  `margin_type` enum('percentage','fixed') DEFAULT 'percentage',
  `margin_value` decimal(10,2) DEFAULT 0.00,
  `currency` varchar(3) DEFAULT 'BRL',
  `rounding_type` enum('floor','ceil','round') DEFAULT 'round',
  `calculation_mode` enum('lowest_price','lowest_time','priority') DEFAULT 'lowest_price',
  `free_shipping_threshold` decimal(10,2) DEFAULT 0.00,
  `minimum_order_value` decimal(10,2) DEFAULT 0.00,
  `maximum_freight_value` decimal(10,2) DEFAULT 999.99,
  `fallback_enabled` tinyint(1) DEFAULT 1,
  `fallback_value` decimal(10,2) DEFAULT 15.00,
  `fallback_value_sudeste` decimal(10,2) DEFAULT 15.00,
  `fallback_value_sul` decimal(10,2) DEFAULT 15.00,
  `fallback_value_centro_oeste` decimal(10,2) DEFAULT 15.00,
  `fallback_value_nordeste` decimal(10,2) DEFAULT 15.00,
  `fallback_value_norte` decimal(10,2) DEFAULT 15.00,
  `fallback_message` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `freight_settings`
--

LOCK TABLES `freight_settings` WRITE;
/*!40000 ALTER TABLE `freight_settings` DISABLE KEYS */;
INSERT INTO `freight_settings` VALUES (1,'00000-000',0.500,20.00,30.00,40.00,0.00,'percentage',0.00,'BRL','round','lowest_price',500.00,0.00,999.99,1,30.00,15.00,15.00,20.00,40.00,40.00,'Prazo de entrega: de 12 a 30 dias ├║teis','2026-03-22 00:28:00','2026-03-26 13:59:20');
/*!40000 ALTER TABLE `freight_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `home_banners`
--

DROP TABLE IF EXISTS `home_banners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_banners` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `image_path` varchar(500) NOT NULL,
  `button_text` varchar(100) DEFAULT NULL,
  `button_link` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `position` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_home_banner_active` (`is_active`),
  KEY `idx_home_banner_position` (`position`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_banners`
--

LOCK TABLES `home_banners` WRITE;
/*!40000 ALTER TABLE `home_banners` DISABLE KEYS */;
/*!40000 ALTER TABLE `home_banners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `home_featured_products`
--

DROP TABLE IF EXISTS `home_featured_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_featured_products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `section_key` varchar(50) NOT NULL,
  `product_id` int(11) NOT NULL,
  `position` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_section_product` (`section_key`,`product_id`),
  KEY `idx_section` (`section_key`),
  KEY `idx_position` (`position`),
  KEY `fk_home_featured_product` (`product_id`),
  CONSTRAINT `fk_home_featured_product` FOREIGN KEY (`product_id`) REFERENCES `produtos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_featured_products`
--

LOCK TABLES `home_featured_products` WRITE;
/*!40000 ALTER TABLE `home_featured_products` DISABLE KEYS */;
INSERT INTO `home_featured_products` VALUES (2,'launches',2,8,'2026-03-22 00:43:19'),(3,'launches',3,6,'2026-03-22 00:43:19'),(4,'launches',5,5,'2026-03-22 00:43:20'),(5,'launches',4,4,'2026-03-22 00:43:21'),(6,'launches',6,9,'2026-03-22 20:37:52'),(7,'launches',16,10,'2026-03-22 20:37:53'),(10,'launches',17,2,'2026-03-22 21:05:08'),(11,'launches',18,3,'2026-03-22 21:05:08'),(12,'launches',58,1,'2026-03-24 17:43:39');
/*!40000 ALTER TABLE `home_featured_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `home_settings`
--

DROP TABLE IF EXISTS `home_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `home_settings` (
  `id` int(11) NOT NULL DEFAULT 1,
  `hero_title` varchar(255) DEFAULT 'Bem-vindo ├á D&Z',
  `hero_kicker` varchar(120) DEFAULT 'RARE EXPERIENCE',
  `hero_logo_path` varchar(255) DEFAULT 'assets/images/logo-dz-oficial.svg',
  `hero_subtitle` varchar(255) DEFAULT 'Moda com estilo e qualidade',
  `hero_description` text DEFAULT NULL,
  `hero_button_text` varchar(100) DEFAULT 'Ver Cole├º├úo',
  `hero_button_link` varchar(255) DEFAULT '/produtos',
  `launch_title` varchar(255) DEFAULT 'Lan├ºamentos',
  `launch_subtitle` varchar(255) DEFAULT 'Confira nossas novidades',
  `benefits_title` varchar(255) DEFAULT 'Beneficios Rare',
  `benefits_subtitle` varchar(255) DEFAULT 'Acabamento premium e experiencia de compra refinada.',
  `launch_button_text` varchar(100) DEFAULT 'Ver Todos os Lan├ºamentos',
  `launch_button_link` varchar(255) DEFAULT '#catalogo',
  `products_title` varchar(255) DEFAULT 'Todos os Produtos',
  `products_subtitle` varchar(255) DEFAULT 'Toda a nossa cole├º├úo premium em um s├│ lugar',
  `products_button_text` varchar(100) DEFAULT 'Ver Depoimentos',
  `products_button_link` varchar(255) DEFAULT '#depoimentos',
  `banner_interval` int(11) DEFAULT 6,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_settings`
--

LOCK TABLES `home_settings` WRITE;
/*!40000 ALTER TABLE `home_settings` DISABLE KEYS */;
INSERT INTO `home_settings` VALUES (1,'RARE7','','image/logo_png.png','Qualidade Premium','Moda esportiva em outro n├¡vel','Explorar','#beneficios','Lan├ºamentos','','Beneficios Rare','Acabamento premium e experiencia de compra refinada.','Ver Todos os Lan├ºamentos','/rare7/cliente/produtos.php?menu=lancamentos','Todos os Produtos','','Todos Produtos','/rare7/cliente/produtos.php',10,'2026-03-25 03:07:14');
/*!40000 ALTER TABLE `home_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itens_pedido`
--

DROP TABLE IF EXISTS `itens_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `itens_pedido` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `produto_id` int(11) NOT NULL,
  `variacao_id` int(11) DEFAULT NULL,
  `quantidade` int(11) NOT NULL,
  `preco_unitario` decimal(10,2) NOT NULL,
  `nome_produto` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_item_pedido` (`pedido_id`),
  KEY `idx_item_produto` (`produto_id`),
  KEY `idx_item_variacao` (`variacao_id`),
  CONSTRAINT `fk_item_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_item_produto` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_item_variacao` FOREIGN KEY (`variacao_id`) REFERENCES `produto_variacoes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itens_pedido`
--

LOCK TABLES `itens_pedido` WRITE;
/*!40000 ALTER TABLE `itens_pedido` DISABLE KEYS */;
INSERT INTO `itens_pedido` VALUES (6,4,1,NULL,1,89.90,'Base L├Øquida Matte HD','2026-03-22 18:35:13'),(7,4,2,NULL,1,149.90,'Paleta de Sombras Rose Gold','2026-03-22 18:35:13');
/*!40000 ALTER TABLE `itens_pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leads_revendedores`
--

DROP TABLE IF EXISTS `leads_revendedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leads_revendedores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome_responsavel` varchar(255) NOT NULL,
  `whatsapp` varchar(20) NOT NULL,
  `nome_loja` varchar(255) NOT NULL,
  `cidade` varchar(100) NOT NULL,
  `estado` char(2) NOT NULL,
  `ramo_loja` varchar(100) NOT NULL,
  `faturamento` enum('ate_5000','5001_15000','15001_30000','acima_30000') NOT NULL,
  `interesse` set('unha','cilios') NOT NULL,
  `vendedora_id` int(11) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_vendedora` (`vendedora_id`),
  KEY `idx_lead_whatsapp` (`whatsapp`),
  CONSTRAINT `fk_lead_vendedora` FOREIGN KEY (`vendedora_id`) REFERENCES `vendedoras` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leads_revendedores`
--

LOCK TABLES `leads_revendedores` WRITE;
/*!40000 ALTER TABLE `leads_revendedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads_revendedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs_email`
--

DROP TABLE IF EXISTS `logs_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logs_email` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `destinatario` varchar(255) NOT NULL,
  `assunto` varchar(500) NOT NULL,
  `status` enum('enviado','erro') NOT NULL,
  `erro` text DEFAULT NULL,
  `data_envio` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_log_email_data` (`data_envio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs_email`
--

LOCK TABLES `logs_email` WRITE;
/*!40000 ALTER TABLE `logs_email` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mensagens`
--

DROP TABLE IF EXISTS `mensagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mensagens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `conversa_id` int(11) NOT NULL,
  `remetente` enum('usuario','ia','admin') NOT NULL,
  `remetente_nome` varchar(255) DEFAULT NULL,
  `conteudo` text NOT NULL,
  `lida` tinyint(1) DEFAULT 0,
  `timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_mensagem_conversa` (`conversa_id`),
  KEY `idx_mensagem_lida` (`lida`),
  KEY `idx_mensagem_timestamp` (`timestamp`),
  CONSTRAINT `fk_mensagem_conversa` FOREIGN KEY (`conversa_id`) REFERENCES `conversas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mensagens`
--

LOCK TABLES `mensagens` WRITE;
/*!40000 ALTER TABLE `mensagens` DISABLE KEYS */;
/*!40000 ALTER TABLE `mensagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message_templates`
--

DROP TABLE IF EXISTS `message_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `message_templates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(100) NOT NULL,
  `conteudo` text NOT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_template_ativo` (`ativo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message_templates`
--

LOCK TABLES `message_templates` WRITE;
/*!40000 ALTER TABLE `message_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `message_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_settings`
--

DROP TABLE IF EXISTS `payment_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gateway_provider` enum('mercadopago','stripe','paypal','outros') DEFAULT 'mercadopago',
  `custom_provider_name` varchar(100) DEFAULT NULL,
  `gateway_active` tinyint(1) DEFAULT 0,
  `public_key` text DEFAULT NULL,
  `secret_key` text DEFAULT NULL,
  `client_id` text DEFAULT NULL,
  `client_secret` text DEFAULT NULL,
  `environment` enum('sandbox','production') DEFAULT 'sandbox',
  `method_pix` tinyint(1) DEFAULT 0,
  `method_credit_card` tinyint(1) DEFAULT 0,
  `method_debit_card` tinyint(1) DEFAULT 0,
  `method_boleto` tinyint(1) DEFAULT 0,
  `payment_currency` enum('BRL','USD','EUR') DEFAULT 'BRL',
  `payment_gateway_id` varchar(100) DEFAULT NULL,
  `webhook_url` text DEFAULT NULL,
  `min_value_pix` decimal(10,2) DEFAULT 5.00,
  `min_value_card` decimal(10,2) DEFAULT 10.00,
  `min_value_debit` decimal(10,2) DEFAULT 10.00,
  `min_value_boleto` decimal(10,2) DEFAULT 20.00,
  `max_installments` int(11) DEFAULT 12,
  `free_installments` int(11) DEFAULT 1,
  `interest_rate` decimal(5,2) DEFAULT 2.50,
  `payment_maintenance` tinyint(1) DEFAULT 0,
  `maintenance_message` text DEFAULT NULL,
  `logs_enabled` tinyint(1) DEFAULT 0,
  `logs_level` enum('basico','detalhado') DEFAULT 'basico',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_settings`
--

LOCK TABLES `payment_settings` WRITE;
/*!40000 ALTER TABLE `payment_settings` DISABLE KEYS */;
INSERT INTO `payment_settings` VALUES (1,'mercadopago',NULL,0,NULL,NULL,NULL,NULL,'sandbox',0,0,0,0,'BRL',NULL,NULL,5.00,10.00,10.00,20.00,12,1,2.50,0,NULL,0,'basico','2026-03-22 00:28:00','2026-03-22 00:28:00');
/*!40000 ALTER TABLE `payment_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

DROP TABLE IF EXISTS `pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `numero_pedido` varchar(50) DEFAULT NULL,
  `cliente_id` int(11) NOT NULL,
  `cliente_nome` varchar(255) DEFAULT NULL,
  `cliente_email` varchar(255) DEFAULT NULL,
  `valor_subtotal` decimal(10,2) DEFAULT 0.00,
  `valor_desconto` decimal(10,2) DEFAULT 0.00,
  `valor_frete` decimal(10,2) DEFAULT 0.00,
  `valor_total` decimal(10,2) NOT NULL,
  `forma_pagamento` varchar(50) DEFAULT NULL,
  `status_pagamento` varchar(50) DEFAULT 'Pendente',
  `parcelas` int(11) DEFAULT 1,
  `valor_parcela` decimal(10,2) DEFAULT 0.00,
  `status` varchar(100) DEFAULT 'Pedido Recebido',
  `status_entrega` varchar(100) DEFAULT 'Aguardando postagem',
  `transportadora` varchar(100) DEFAULT NULL,
  `endereco_entrega` text DEFAULT NULL,
  `cep` varchar(10) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `estado` varchar(2) DEFAULT NULL,
  `cupom_codigo` varchar(50) DEFAULT NULL,
  `codigo_rastreio` varchar(100) DEFAULT NULL,
  `link_rastreio` text DEFAULT NULL,
  `comprovante_pagamento` varchar(255) DEFAULT NULL,
  `mercadopago_preference_id` varchar(100) DEFAULT NULL,
  `mercadopago_payment_id` varchar(100) DEFAULT NULL,
  `mercadopago_status` varchar(50) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  `data_pedido` timestamp NOT NULL DEFAULT current_timestamp(),
  `data_entrega` date DEFAULT NULL,
  `data_status_mudanca` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `data_atualizacao` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `ultima_atualizacao_rastreio` timestamp NULL DEFAULT NULL,
  `desconto_frete` decimal(10,2) DEFAULT 0.00,
  `desconto_cupom` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `idx_pedido_cliente` (`cliente_id`),
  KEY `idx_pedido_status` (`status`),
  KEY `idx_pedido_mp_preference` (`mercadopago_preference_id`),
  KEY `idx_pedido_mp_payment` (`mercadopago_payment_id`),
  KEY `idx_numero_pedido` (`numero_pedido`),
  KEY `idx_codigo_rastreio` (`codigo_rastreio`),
  CONSTRAINT `fk_pedidos_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos_historico_status`
--

DROP TABLE IF EXISTS `pedidos_historico_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidos_historico_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `status_anterior` varchar(100) DEFAULT NULL,
  `status_novo` varchar(100) NOT NULL,
  `data_mudanca` timestamp NOT NULL DEFAULT current_timestamp(),
  `usuario_alteracao` varchar(100) DEFAULT NULL,
  `observacoes` text DEFAULT NULL,
  `email_enviado` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_pedido_data` (`pedido_id`,`data_mudanca`),
  CONSTRAINT `fk_historico_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos_historico_status`
--

LOCK TABLES `pedidos_historico_status` WRITE;
/*!40000 ALTER TABLE `pedidos_historico_status` DISABLE KEYS */;
INSERT INTO `pedidos_historico_status` VALUES (1,4,'Enviado','Estornado','2026-03-26 00:20:57','lucas','Reembolso total registrado: Base L├Øquida Matte HD x1, Paleta de Sombras Rose Gold x1. Valor: R$ 239,80',0);
/*!40000 ALTER TABLE `pedidos_historico_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos_reembolso_itens`
--

DROP TABLE IF EXISTS `pedidos_reembolso_itens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidos_reembolso_itens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reembolso_id` int(11) NOT NULL,
  `item_pedido_id` int(11) NOT NULL,
  `produto_id` int(11) NOT NULL,
  `variacao_id` int(11) DEFAULT NULL,
  `quantidade` int(11) NOT NULL DEFAULT 0,
  `valor_unitario` decimal(10,2) NOT NULL DEFAULT 0.00,
  `valor_total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_reembolso_item` (`reembolso_id`),
  KEY `idx_reembolso_item_pedido` (`item_pedido_id`),
  CONSTRAINT `fk_reembolso_item_itempedido` FOREIGN KEY (`item_pedido_id`) REFERENCES `itens_pedido` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_reembolso_item_reembolso` FOREIGN KEY (`reembolso_id`) REFERENCES `pedidos_reembolsos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos_reembolso_itens`
--

LOCK TABLES `pedidos_reembolso_itens` WRITE;
/*!40000 ALTER TABLE `pedidos_reembolso_itens` DISABLE KEYS */;
INSERT INTO `pedidos_reembolso_itens` VALUES (1,1,6,1,NULL,1,89.90,89.90,'2026-03-26 00:20:57'),(2,1,7,2,NULL,1,149.90,149.90,'2026-03-26 00:20:57');
/*!40000 ALTER TABLE `pedidos_reembolso_itens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos_reembolsos`
--

DROP TABLE IF EXISTS `pedidos_reembolsos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedidos_reembolsos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL,
  `tipo` varchar(20) NOT NULL DEFAULT 'parcial',
  `incluir_frete` tinyint(1) NOT NULL DEFAULT 0,
  `valor_frete_reembolsado` decimal(10,2) NOT NULL DEFAULT 0.00,
  `valor_total_reembolso` decimal(10,2) NOT NULL DEFAULT 0.00,
  `observacoes` text DEFAULT NULL,
  `usuario_alteracao` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_reembolso_pedido` (`pedido_id`),
  CONSTRAINT `fk_reembolso_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos_reembolsos`
--

LOCK TABLES `pedidos_reembolsos` WRITE;
/*!40000 ALTER TABLE `pedidos_reembolsos` DISABLE KEYS */;
INSERT INTO `pedidos_reembolsos` VALUES (1,4,'total',1,0.00,239.80,'','lucas','2026-03-26 00:20:57');
/*!40000 ALTER TABLE `pedidos_reembolsos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_tags`
--

DROP TABLE IF EXISTS `produto_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto_tags` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(120) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_produto_tags_nome` (`nome`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_tags`
--

LOCK TABLES `produto_tags` WRITE;
/*!40000 ALTER TABLE `produto_tags` DISABLE KEYS */;
INSERT INTO `produto_tags` VALUES (1,'destaque','2026-03-24 02:07:14','2026-03-24 02:11:47'),(2,'rara','2026-03-24 02:12:04','2026-03-24 02:12:04'),(3,'retr├┤','2026-03-24 17:36:21','2026-03-24 17:36:21');
/*!40000 ALTER TABLE `produto_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_variacoes`
--

DROP TABLE IF EXISTS `produto_variacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto_variacoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `produto_id` int(11) NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `valor` varchar(100) NOT NULL,
  `sku` varchar(100) DEFAULT NULL,
  `sku_variacao` varchar(100) DEFAULT NULL,
  `preco_adicional` decimal(10,2) DEFAULT 0.00,
  `preco` decimal(10,2) DEFAULT NULL,
  `preco_promocional` decimal(10,2) DEFAULT NULL,
  `estoque` int(11) DEFAULT 0,
  `imagem` varchar(255) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_var_produto` (`produto_id`),
  KEY `idx_var_ativo` (`ativo`),
  CONSTRAINT `fk_variacao_produto` FOREIGN KEY (`produto_id`) REFERENCES `produtos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=438 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_variacoes`
--

LOCK TABLES `produto_variacoes` WRITE;
/*!40000 ALTER TABLE `produto_variacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `produto_variacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produtos`
--

DROP TABLE IF EXISTS `produtos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produtos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `descricao` text DEFAULT NULL,
  `preco` decimal(10,2) NOT NULL DEFAULT 0.00,
  `preco_promocional` decimal(10,2) DEFAULT NULL,
  `estoque` int(11) NOT NULL DEFAULT 0,
  `categoria` varchar(100) DEFAULT NULL,
  `categoria_id` int(11) DEFAULT NULL,
  `subcategoria` varchar(100) DEFAULT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `sku` varchar(50) DEFAULT NULL,
  `imagem` varchar(255) DEFAULT NULL,
  `imagem_principal` varchar(255) DEFAULT NULL,
  `imagens` longtext DEFAULT NULL,
  `peso` decimal(8,3) DEFAULT NULL,
  `altura` decimal(8,2) DEFAULT NULL,
  `largura` decimal(8,2) DEFAULT NULL,
  `comprimento` decimal(8,2) DEFAULT NULL,
  `dimensoes` varchar(100) DEFAULT NULL,
  `video_url` varchar(500) DEFAULT NULL,
  `garantia` varchar(100) DEFAULT NULL,
  `origem` varchar(100) DEFAULT NULL,
  `destaque` tinyint(1) DEFAULT 0,
  `tags` text DEFAULT NULL,
  `seo_title` varchar(255) DEFAULT NULL,
  `seo_description` text DEFAULT NULL,
  `status` enum('ativo','inativo','rascunho') DEFAULT 'ativo',
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `liga` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `idx_produto_status` (`status`),
  KEY `idx_produto_categoria_id` (`categoria_id`),
  KEY `idx_produto_slug` (`slug`),
  CONSTRAINT `fk_produtos_categoria` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produtos`
--

LOCK TABLES `produtos` WRITE;
/*!40000 ALTER TABLE `produtos` DISABLE KEYS */;
/*!40000 ALTER TABLE `produtos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revendedores`
--

DROP TABLE IF EXISTS `revendedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `revendedores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `empresa` varchar(255) DEFAULT NULL,
  `cnpj` varchar(20) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `estado` varchar(50) DEFAULT NULL,
  `experiencia` text DEFAULT NULL,
  `mensagem` text DEFAULT NULL,
  `status` enum('pendente','aprovado','rejeitado') DEFAULT 'pendente',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_rev_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `revendedores`
--

LOCK TABLES `revendedores` WRITE;
/*!40000 ALTER TABLE `revendedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `revendedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(255) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_fluxo`
--

DROP TABLE IF EXISTS `status_fluxo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `status_fluxo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `cor_hex` varchar(7) NOT NULL DEFAULT '#ff00d4',
  `baixa_estoque` tinyint(1) DEFAULT 0,
  `bloquear_edicao` tinyint(1) DEFAULT 0,
  `gerar_logistica` tinyint(1) DEFAULT 0,
  `notificar` tinyint(1) DEFAULT 0,
  `estornar_estoque` tinyint(1) DEFAULT 0,
  `gerar_link_cobranca` tinyint(1) DEFAULT 0,
  `sla_horas` int(11) DEFAULT 0,
  `mensagem_template` text DEFAULT NULL,
  `mensagem_email` text DEFAULT NULL,
  `ordem` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_fluxo_ordem` (`ordem`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_fluxo`
--

LOCK TABLES `status_fluxo` WRITE;
/*!40000 ALTER TABLE `status_fluxo` DISABLE KEYS */;
/*!40000 ALTER TABLE `status_fluxo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `status` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendedoras`
--

DROP TABLE IF EXISTS `vendedoras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendedoras` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendedoras`
--

LOCK TABLES `vendedoras` WRITE;
/*!40000 ALTER TABLE `vendedoras` DISABLE KEYS */;
INSERT INTO `vendedoras` VALUES (1,'Lucas Chacon','21985136806','lucaschacon79@gmail.com','2026-03-22 00:33:45');
/*!40000 ALTER TABLE `vendedoras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'adm_rare'
--

--
-- Dumping routines for database 'adm_rare'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-27 22:10:14
